.icon {
  width: 4rem;
  margin: auto;
}

.preview {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  padding: 1.5rem;
  width: 18rem;
  text-align: center;
  height: auto;
  button {
    background-color: #eab93d;
    padding: 0.5rem 2rem;
    height: 3.25rem;
    font-family: 'Rubik', sans-serif;
    border: none;
    margin: auto;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0px 2px 3px #768ca0;
  }

  button:hover {
    transform: scale(1.1);
  }
}
