.policy-header {
  font-weight: bold;
}

.content-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 20rem;
  color: white;
  margin: .3rem;
}

.legal-key {
  margin: 3rem;
}

.legal {
  background-color: #768CA0;
}

.illegal {
  background-color: #DF6349;
}

.at-risk {
  background-color: #D27736;
}