//added in SCSS variables for usage

//colors
$light-yellow: #f0d0a3;
$yellow: #eab93d;
$orange: #d27736;
$red: #df6349;
$purple: #a46f89;
$blue: #768ca0;
$dark-brown: #3c3525;

//spacing
$space-24: 1.5rem;

//borders
$blue-border: 0.25rem solid #768ca0;
$red-border: 0.25rem solid #df6349;
$orange-border: 0.25rem solid #d27736; 
