@import '../../Styles/variables.scss';

.authorized-clinics-block {
  border: $blue-border;
  p {
    text-align: center;
    padding: 0.5rem $space-24;
  }
  .authorized-header {
    color: #ffffff;
    background-color: $blue;
    padding-top: 0.05rem;
    text-align: center;
    padding: 0.75rem;
    h2 {
      margin: 0;
    }
  }
}
.misinformation-centers-block {
  border: $red-border;
  p {
    text-align: center;
    padding: 0.5rem $space-24;
  }
  .misinformation-header {
    color: #ffffff;
    background-color: $red;
    padding-top: 0.05rem;
    text-align: center;
    padding: 0.75rem;
    h2 {
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  .authorized-clinics-block,
  .misinformation-centers-block {
    width: 45%;
    align-items: stretch;
  }
}
