@import '../../Styles/variables.scss';

.all-clinics-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: $space-24;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: $space-24;
  padding-bottom: 3rem;
}

.authorized-card-container {
  .clinic-card {
    background-color: $blue;
  }
}

.misinformation-card-container {
  .clinic-card {
    background-color: $red;
  }
}

.resource-card-container {
  .clinic-card {
    background-color: $purple;
  }
}
