.clinic-card {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  padding: 0.75rem;

  h3,
  p {
    color: #ffffff;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  span {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .clinic-address {
    margin-bottom: 0.25rem;
  }

  .clinic-city-state-zip {
    margin-left: 1.75rem;
    margin-top: 0;
  }
}
