.clinic-card {
  text-align: left;
  box-sizing: border-box;
  width: 20rem;
  height: 20rem;
  padding: 10px;
  margin: 1rem;
  h3,
  p {
    color: #ffffff;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
}
