@import '../../Styles/variables.scss';

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1.5rem;

  span {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}

.search {
  height: 3rem;
  flex-grow: 2;
  font-size: 1rem;
}
