@import '../../Styles/variables.scss';

.loading-messaging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
    margin: $space-24 $space-24 10rem $space-24;
  }
}
