@import '../../Styles/variables.scss';

.clinics-view-container {
  padding: $space-24;
}

.clinics-view-disclaimer {
  text-align: center;
  align-self: center;
  max-width: 36rem;
}

.heading-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: $space-24;
  gap: $space-24;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media (min-width: 890px) {
  .heading-container {
    flex-wrap: nowrap;
  }
}
