.clinics-view-container {
  padding: 1.5rem;
}
.heading-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1.5rem;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media (min-width: 890px) {
  .heading-container {
    flex-wrap: nowrap;
  }
}
