@import '../../Styles/variables.scss';

.info-strip {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #768ca0;
  margin: 0.3rem;
  width: 100%;
  .name-container,
  .legal-description {
    padding: 1.5rem;
  }
  .name-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .info-strip {
    flex-direction: row;
    width: 60%;
  }
  .name-container {
    min-width: 10rem;
  }
  .legal-description {
    flex-grow: 2;
  }
}
