.footer {
  background-color: #3c3525;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;

  .logo-img {
    height: 4rem;
    filter: invert(1);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.footer-team-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  color: #ffffff;
  gap: 1.5rem;

  p {
    margin-top: 0;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 0.5rem;

    span {
      font-size: 1rem;
      padding-left: 0.25rem;
    }
  }
}
