body {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.75rem;
}
