.about-container, .team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 2rem;
}

.team-container {
  img {
    width: 60%;
  }
}

.illustration {
  height: 60%;
  width: 60%;
}

.mission-container, .inclusivity-container {
  text-align: center;
  padding: 2rem;
}

