.quote-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 4rem;
  margin: 3rem;
  text-align: center;
  p {
    font-weight: 700;
    font-size: 1.3rem;
  }
}
