@import '../../Styles/variables.scss';

.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: $space-24;
  margin-top: 0;
  text-align: center;
  p {
    font-weight: 400;
    font-size: 1.3rem;
    max-width: 60rem;
  }
}
